
.p_container {
    width: 1100px;
    height: 330px;
    margin: 0 auto;
}

.page_path {
    width: 100%;
}

.page_home {
    display: inline-block;
}

.page_home img {
    width: 45px;
    height: 53px;
}

.page_nav {
    display: inline-block;
    vertical-align: top;
    width: 95%;
}

.m_gnb {
    width: 100%;
    height: 70px;
    text-align: center;
    transition: all 0.4s;
}

.m_gnb2 {
    position: fixed;
    top: 0;
    z-index: 10;
    background: #fff;
}

.page_nav_li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 208px;
    height: 53px;
    margin-left: -4px;
    line-height: 53px;
    border: 1px solid #ccc;
    border-left: 0px;
    background: url(../img/sel_bl.png) no-repeat right center;
}

.page_nav_li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
}

.lnb {
    display: none;
    position: relative;
    width: 100%;
    background-color: #fcf9fc;
    z-index: 10;
}

.lnb_list {
    width: 100%;
    margin-left: -1px;
    border: 1px solid #ccc;
    border-top: 0px;
    z-index: 10;
}

.company_wrap {
    width: 1100px;
    height: 1300px;
    margin: 50px auto;
}

.company_info {
    height: 100px;
}

.company_info>h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.company_inner>p {
    text-align: center;
}

.company_inner>p:nth-child(1){
    font-size: 25px;
    margin-bottom: 20px;
}
.company_inner>p:nth-child(2){
    font-size: 15px;
    margin-bottom: 20px;
}
.inner_tab{
    width: 100%;
    height: 70px;
    margin-bottom: 100px;
}
.inner_tab> p{
    width: 30%;
    height: 70px;
    margin: 10px;
    border: 1px solid #ccc;
}
.inner_tab> p > a{
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #111;
    font-size: 20px;
}
.inner_tab> p > a:hover{
    background-color: #111;
    color: #fff;
}
div.company_inner > p:nth-child(4) > img{
    margin-left: -75px;
}