/* 헤더 */

#header{
	width: 1100px;
	height: 150px;
	margin: 0px auto;
	position: relative
}
.inner{
	width: 250px;
	height: 100px;
	position: absolute;
	right: 0px;
	top: 25px;
}
.logo{
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -100px;
	margin-top: -25px;
}
.frm{
	width: 270px;
	height: 26px;
	margin-top: 15px;
	margin-right: 50px;
}

.search_txt{
	width: 213px;
	height: 26px;
}
.search_btn a img{
	height: 30px;
}
.r_btn{
	width: 250px;
	text-align: right;
}
.lnb_line{
	display: inline-block;
	margin-left: 12px;
}
.r_btn_a{
	color: #171717;
}
.m_gnb{
	width: 100%;
	height: 70px;
	text-align: center;
}
.m_gnb2{
	position: fixed;
	top: 0;
	z-index: 10;
	border-bottom: 2px solid #ccc;
	background: #fff
}
.gnb_li{
	display: inline-block;
	padding: 20px;
	margin-left: 50px;
	position: relative;
}
.gnb_li_a{
	display: block;
	width: auto;
	font-size: 20px;
	color: #474747;
	position: relative;
}
.sub_ul{
	position: absolute;
	padding: 10px;
	top: 70px;
	left: -60px;
	z-index: 10;
	width: 190px;
	height: 60px;
	border: 1px solid #ccc;
	background: #fff;
	display: none;
}
.sub_ul_lg{
	width:200px;
}
.sub_ul2{
	position: absolute;
	height: 110px;
	left: -34px;
}
.sub_ul3{
	position: absolute;
	height: 110px;
	left: -40px;
}
.sub_ul4{
	position: absolute;
	height: 80px;
	left: 18px;
}
.sub_ul5{
	position: absolute;
	height: 110px;
	left: -19px;
}
.sub_li_a{
	font-size: 15px;
	color: #474747;
}
.sub_li{
	margin-top: 5px;
}
.sub_li .sub_li_a:hover{
	color: rgb(73, 116, 188);
}
.hr1{
	position: absolute;
	width: 100%;
	top: 145px;
	left: 0;
	border: solid 1px #ccc;

}

/* footer */
.footer-wrap{
	width: 100%;
	height: 300px;
	background-color: #efefef;
	margin-top: 100px;

}
.footer-gnb{
	width: 1100px;
	height: 300px;
	margin: auto;
}
.footer_logo{
	width: 200px;
	height: 250px;
	margin: 50px 100px 0 20px;
}
.sns{
	width: 150px;
	height: 60px;
	margin-top: 30px;
}
.sns .liimg{
	transition: all 0.3s;
	margin-left: 10px;
	width: 40px;
}
.gnb_list{
	width: 760px;
	height: 250px;
	margin-top: 50px;
	margin-left: 20px;
}
.gnb_list ul{
	width: 150px;
	height: 250px;
}
.gnb_list ul li{
	width: 100%;
	height: 30px;
	font-size: 17px;
	font-weight: bold;
	color: #000;
}
.gnb_list ul li a{
	font-size: 12px;
	color: #777777;
}
.footer{
	width: 1100px;
	height: auto;
	margin: 50px auto;
}
.copyright{
	width: 200px;
	height: 120px;
	color: #868686;
}
.f_info li{
	color: #868686;
}
.f_info li a{
	color: #000;
	font-weight: bold;
}
