.event_wrap{
	width: 1100px;
	height: 900px;
	margin: 30px auto;
}
.event_wrap> h1{
	font-size: 40px;
	margin: 30px auto;
	text-align: center;
}
.thumbnail_wrap{
	width: 100%;
}
.thumbnail{
	width: 30%;
	height: 330px;
	margin-left: 30px;
    position: relative;
}
.thum_black{
    width: 330px;
    height: 330px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    transition: all 0.6s;
}
.thum_black:hover{
    opacity: 0.6;
    cursor: pointer;
}
.thum_text{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -25px;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    z-index: 20;
    transition: all 0.6s;
}
.img-responsive{
	width: 100%;
	height: 250px;
}
.write_now{
	display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #474747;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 30px;
}
.page_container{
	width: 500px;
    height: 40px;
    margin: 0 auto;
}
.pagination{
	width: 250px;
    height: 30px;
    margin: 10px auto;
    line-height: 30px;
    text-align: center;
}
.pagination li {
    width: 30px;
    height: 100%;
    margin-left: 3px;
    border: 1px solid #ccc;
}
.pagination > li > a {
    display: block;
    width: 30px;
    height: 100%;
    color: #888;
}
.search_wrap {
    width: 1100px;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
}
.input_wrap{
	width: 100%;
}
.input_wrap> input:nth-child(2){
	width: 310px;
	height: 15px;
}
.search_btn > button > .fa {
    width: 40px;
    height: 24px;
    line-height: 24px;
}
.item > h4{
	color: #474747;
	font-size: 20px;
}
.item > div:nth-child(2){
	color: #474747;
	font-size: 13px;
}
.item > div:nth-child(3){
	margin-top: 5px;
}