.pass_re{
	width: 1100px;
	height: 200px;
	margin: 0 auto;
}
.page_header h1{
	font-size: 25px;
	margin: 20px;
	color: #474747;
}
.myform{
	width: 100%;
}
.email_ck{
	display: inline-block;
}
.sub_btn{
	display: inline-block;
}
.email_ck label{
	font-size: 15px;
	margin-left: 20px;
}
.email_ck input{
	width: 300px;
	margin-left: 10px;
	padding: 5px;
}
.sub_btn button{
	width: 50px;
	height: 27px;
}
.myform{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	margin-left: -20px;
}