/*회원가입 폼*/
.frm2{
	width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
}
tr > td{
	padding: 10px;
}
.frm2 > table > caption{
	font-size: 20px;
	margin: 10px;
} 
.clearfix:after{
	clear: both;
	content: '';
	display:block;
	float: none;
}
.form-control{
	padding: 5px;
}
.pull-left{
	float: left;
}
.register{
	margin-top: 10px;
}
.tel1,.tel2,.tel3,.tel4,.tel5,.tel6{
	width: 50px;
	padding: 5px;
}
.ymd_s{
	width: 50px;
	margin-right: 12px;
	padding: 5px;
}
.ymd_wrap{
	position: relative;
}
.la_year{
	position: absolute;
	left: 75px;
}
.la_mon{
	position: absolute;
	left: 153px;
}
.la_day{
	position: absolute;
	left: 235px;
}
.id_check{
	margin-bottom: 10px;
}
.pw_check{
	margin-bottom: 10px;
}
.email_check{
	margin-bottom: 10px;
}
.form-group{
	width: 1100px;
}
.id_wrap{
	width: 80%;
}
.form-control{
	width: 50%;
}
.textarea_wrap{
	width: 500px;
}
.radio{
	width: 200px;
	margin-top: 5px;
}
.op_radio{
	width: 200px;
}
.ra_label{
	position: relative;
	width: 100px;
	margin-right:30px;
}
.select1{
	position: absolute;
	left: 20px;
	top: -3px;
	width: 30px;
}
.select2{
	position: absolute;
	left: 20px;
	top: -3px;
	width: 30px;
}
.btn_register{
	padding: 10px;
	width: 70px;
	height: 40px;
	line-height: 15px;
}
/*회원가입 폼 끝*/