
#header{
	width: 1100px;
	height: 150px;
	margin: 0px auto;
	position: relative
}
.inner{
	width: 250px;
	height: 100px;
	position: absolute;
	right: 0px;
	top: 25px;
}
.logo{
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -100px;
	margin-top: -25px;
}
.frm{
	width: 270px;
	height: 26px;
	margin-top: 15px;
	margin-right: 50px;
}

.search_txt{
	width: 213px;
	height: 26px;
}
.search_btn a img{
	height: 30px;
}
.r_btn{
	width: 250px;
	text-align: right;
}
.lnb_line{
	display: inline-block;
	margin-left: 12px;
}
.r_btn_a{
	color: #171717;
}
.m_gnb{
	width: 100%;
	height: 70px;
	text-align: center;
}
.m_gnb2{
	position: fixed;
	top: 0;
	z-index: 10;
	border-bottom: 2px solid #ccc;
	background: #fff
}
.gnb_li{
	display: inline-block;
	padding: 20px;
	margin-left: 50px;
	position: relative;
}
.gnb_li_a{
	display: block;
	width: auto;
	font-size: 20px;
	color: #474747;
	position: relative;
}
.sub_ul{
	position: absolute;
	padding: 10px;
	top: 70px;
	left: -60px;
	z-index: 10;
	width: 190px;
	height: 60px;
	border: 1px solid #ccc;
	background: #fff;
	display: none;
}
.sub_ul_lg{
	width:200px;
}
.sub_ul2{
	position: absolute;
	height: 110px;
	left: -34px;
}
.sub_ul3{
	position: absolute;
	height: 110px;
	left: -40px;
}
.sub_ul4{
	position: absolute;
	height: 80px;
	left: 18px;
}
.sub_ul5{
	position: absolute;
	height: 110px;
	left: -19px;
}
.sub_li_a{
	font-size: 15px;
	color: #474747;
}
.sub_li{
	margin-top: 5px;
}
.sub_li .sub_li_a:hover{
	color: rgb(73, 116, 188);
}
.hr1{
	position: absolute;
	width: 100%;
	top: 145px;
	left: 0;
	border: solid 1px #ccc;

}
#slide-container { width: 100%; height: 700px; }
#slides{
	width: 100%;
	height: 700px;
}
.slides-container{
	width: 100%;
	height: 100%;
}
/* 내용영역의 컨텐츠 */
#slides .slide-contents-cell {
    /* 부모가 `display: table`로 정의되어 있을 때 
    display + vertical-align은 세로 중앙 정렬 효과를 갖는다.*/
    display: table-cell;
    vertical-align: middle;
    /* 기본 글자 정렬 및 색상 */
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}

/* 각 슬라이드의 제목 */
#slides .slide-contents-cell h1 {
    font-size: 72px;
    font-weight: bold;
    padding: 5px 20px;
    margin: 0;
    margin-bottom: 20px;
    border: 3px solid #fff;
    display: inline-block;
}

/* 각 슬라이드의 내용 */
#slides .slide-contents-cell p {
    color: #fff;
    text-shadow: 0 1px #000;
    font-size: 28px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

/******** 좌우 화살표 처리 ********/
#slides .slides-navigation { height: 100%; top: 0; }

#slides .slides-navigation a {
    display: block;
    text-indent: -10000px;
    width: 50px;
    height: 100%;
    background: url(img/arrow.png) no-repeat;
}

#slides .slides-navigation a:first-child { background-position: -50px center; }
#slides .slides-navigation a:last-child { background-position: 0px center; }

.next{
	position: absolute;
}
.right_btn{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -50px;
}
.left_btn{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -50px;
}
.ph1{
	width: 1100px;
	height: 150px;
	margin: 0 auto;
}
.h1-innertext, .p-innertext{
	text-indent: -10000px;
}
/** 동영상 영역의 전체 크기를 설정한다. */
.my-youtube-wrapper { width: 1100px; height: 700px; margin: 30px auto; 
	position: relative;
}
/** 내부적으로 사용되는 <iframe>태그의 border 제거 */
iframe { border: 0; }
.youtube_btn{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background: url('img/youtubebtn.png');
	z-index: 10;
}
.youtube_btn:hover{
	cursor: pointer;
}
.hr3{
	position: absolute;
	width: 1100px;
	top: 1800px;
	left: 400px;
	border: solid 1px #ccc;
}
.best_title{
	width: 100%;
	margin: 0 7px 10px 10px;
	font-size: 17px;
}
.best-item{
	width: 1100px;
	height: 700px;
	margin: 0 auto;
}
.inner2{
	margin-top: 30px;
	margin: 0 7px;
}
.inner2 ul{
	width: 350px;
	height: 350px;
}
.best-list{
	width: 100%;
	height: 300px;
	border: 1px solid #ccc;
}
.best-list-a{
	position: relative;
	width: 100%;
	height: 100%;
}
.btn_moreview{
	position: absolute;
	left: 100px;
	top: 50px;
	width: 150px;
	height: 150px;
	z-index: 10;
	display: none;
}
.background_black{
	position: absolute;
	left: 0;
	top: 0;
	width: 350px;
	height: 250px;
	z-index: 9;
	opacity: 0.6;
	display: none;
	background-color: black;

}
.background_black2{
	position: absolute;
	left: 0;
	top: 15px;
	width: 540px;
	height: 350px;
	z-index: 9;
	opacity: 0.6;
	display: none;
	background-color: black;

}
.best_img{
	width: 100%;
	height: 250px;
}
.img_info{
	width: 100%;
	position: relative;
}
.img_info > div{
	font-size: 17px;
	font-weight: bold;
	color: black;
	padding: 10px;
}
.best_txt{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 45px;
}
.f1{
	width: 1100px;
	height: 430px;
	margin: 0 auto;
}
.film{
	width: 540px;
	height: 360px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}
.event{
	width: 540px;
	height: 360px;
	position: relative;
	overflow: hidden;
}
.event > p, .film > p{
	text-indent: -10000px;
}
.event_ban{
	position: absolute;
	left: 20px;
	top: 30px;
	z-index: 10;
}
.wrap{
	width: 540px; height: 360px; overflow: hidden;
}
.event_banner{
	height: 360px;
	width: 540px;
	transition: all 0.4s;
}
.mov_banner{
	height: 360px;
	width: 540px;
	transition: all 0.4s;
}
.mov_con{
	position: absolute;
	left: 20px;
	top: 30px;
	z-index: 10;
}
.main_quick_bg{
	width: 1100px;
	height: 200px;
	margin: 0 auto;
}
.main_quick{
	widows: 760px;
	height: 150px;
	border: 1px solid #ccc;
}
.main_quick_list{
	width: 700px;
	height: 150px;
	background: 
}
.li_img{
	transition: all 0.3s;
}
.quickli{
	width: 15%;
	height: 150px;
	padding-left: 27px;
	padding-top: 20px;;
}
.fr{
	width:360px;
	height: 150px;
	margin-left: 25px;
}
.fr a img{
	width: 360px;
	height: 150px;
}

.footer-wrap{
	width: 100%;
	height: 300px;
	background-color: #efefef;
}
.footer-gnb{
	width: 1100px;
	height: 300px;
	margin: auto;
}
.footer_logo{
	width: 200px;
	height: 250px;
	margin: 50px 100px 0 20px;
}
.sns{
	width: 150px;
	height: 60px;
	margin-top: 30px;
}
.sns .liimg{
	transition: all 0.3s;
	margin-left: 10px;
	width: 40px;
}
.gnb_list{
	width: 760px;
	height: 250px;
	margin-top: 50px;
	margin-left: 20px;
}
.gnb_list ul{
	width: 150px;
	height: 250px;
}
.gnb_list ul li{
	width: 100%;
	height: 30px;
	font-size: 17px;
	font-weight: bold;
	color: #000;
}
.gnb_list ul li a{
	font-size: 12px;
	color: #777777;
}
.footer{
	width: 1100px;
	height: auto;
	margin: 50px auto;
}
.copyright{
	width: 200px;
	height: 120px;
	color: #868686;
}
.f_info li{
	color: #868686;
}
.f_info li a{
	color: #000;
	font-weight: bold;
}
