#slide-container { width: 100%; height: 700px; }
#slides{
	width: 100%;
	height: 700px;
}
.slides-container{
	width: 100%;
	height: 100%;
}
.slides-pagination{
    bottom: 15px !important;
}
/* 내용영역의 컨텐츠 */
#slides .slide-contents-cell {
    /* 부모가 `display: table`로 정의되어 있을 때 
    display + vertical-align은 세로 중앙 정렬 효과를 갖는다.*/
    display: table-cell;
    vertical-align: middle;
    /* 기본 글자 정렬 및 색상 */
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}

/* 각 슬라이드의 제목 */
#slides .slide-contents-cell h1 {
    font-size: 72px;
    font-weight: bold;
    padding: 5px 20px;
    margin: 0;
    margin-bottom: 20px;
    border: 3px solid #fff;
    display: inline-block;
}

/* 각 슬라이드의 내용 */
#slides .slide-contents-cell p {
    color: #fff;
    text-shadow: 0 1px #000;
    font-size: 28px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

/******** 좌우 화살표 처리 ********/
#slides .slides-navigation { height: 100%; top: 0; }

#slides .slides-navigation a {
    display: block;
    text-indent: -10000px;
    width: 50px;
    height: 100%;
}

#slides .slides-navigation a:first-child { background-position: -50px center; }
#slides .slides-navigation a:last-child { background-position: 0px center; }
.back_image{
	width: 100%;
	height: 300px;
	background-color: #000;
}
.next{
	position: absolute;
}
.right_btn{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -50px;
}
.left_btn{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -50px;
}
.ph1{
	width: 1100px;
	height: 150px;
	margin: 0 auto;
}
.h1-innertext, .p-innertext{
	text-indent: -10000px;
}
/** 동영상 영역의 전체 크기를 설정한다. */
.my-youtube-wrapper { width: 1100px; height: 700px; margin: 30px auto; 
	position: relative;
}
/** 내부적으로 사용되는 <iframe>태그의 border 제거 */
iframe { border: 0; }
.youtube_btn{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background: url('img/youtubebtn.png');
	z-index: 10;
}
.youtube_btn:hover{
	cursor: pointer;
}
.hr3{
	position: absolute;
	width: 1100px;
	top: 1800px;
	left: 400px;
	border: solid 1px #ccc;
}
.best_title{
	margin: 0px 7px 10px 10px;
	font-size: 17px;
}
.fresh_title{
	margin: 0 7px 10px 10px;
	font-size: 17px;
}
.best-item{
	width: 1100px;
	height: 700px;
	margin: 0 auto;
}
.fresh_item{
	width: 1100px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
.inner2{
	margin-top: 30px;
	margin: 0 7px;
}
.inner2 ul{
	width: 350px;
	height: 350px;
}
.inner_wrap{
	width: 1000px;
	height: 310px;
	margin-left: 57px;
	overflow: hidden;
	position: relative;
}
.inner3{
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.7s;
}
.inner3 > ul{
	width: 230px;
	height: 350px;
	margin-left: 10px;
}
.next_s:hover,.prev_s{
	cursor: pointer;
}
.best-list{
	width: 100%;
	height: 300px;
	border: 1px solid #ccc;
}
.best-list-a{
	position: relative;
	width: 100%;
	height: 100%;
}
.fresh-list{
	width: 100%;
	height: 300px;
	border: 1px solid #ccc;
}
.fresh-list-a{
	position: relative;
	width: 100%;
	height: 100%;
}
.fresh_img{
	width: 100%;
	height: 250px;
}
.btn_moreview{
	position: absolute;
	left: 100px;
	top: 50px;
	width: 150px;
	height: 150px;
	z-index: 10;
	display: none;
}
.background_black{
	position: absolute;
	left: 0;
	top: 0;
	width: 350px;
	height: 250px;
	z-index: 9;
	opacity: 0.6;
	display: none;
	background-color: black;

}
.background_black2{
	position: absolute;
	left: 0;
	top: 15px;
	width: 540px;
	height: 350px;
	z-index: 9;
	opacity: 0.6;
	display: none;
	background-color: black;

}
.best_img{
	width: 100%;
	height: 250px;
}
.img_info{
	width: 100%;
	position: relative;
}
.img_info > div{
	font-size: 17px;
	font-weight: bold;
	color: black;
	padding: 10px;
}
.best_txt{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 45px;
}
.f1{
	width: 1100px;
	height: 430px;
	margin: 0 auto;
}
.film{
	width: 540px;
	height: 360px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}
.event{
	width: 540px;
	height: 360px;
	position: relative;
	overflow: hidden;
}
.event > p, .film > p{
	text-indent: -10000px;
}
.event_ban{
	position: absolute;
	left: 20px;
	top: 30px;
	z-index: 10;
}
.wrap{
	width: 540px; height: 360px; overflow: hidden;
}
.event_banner{
	height: 360px;
	width: 540px;
	transition: all 0.4s;
}
.mov_banner{
	height: 360px;
	width: 540px;
	transition: all 0.4s;
}
.mov_con{
	position: absolute;
	left: 20px;
	top: 30px;
	z-index: 10;
}
.main_quick_bg{
	width: 1100px;
	height: 200px;
	margin: 0 auto;
}
.main_quick{
	widows: 760px;
	height: 150px;
	border: 1px solid #ccc;
}
.main_quick_list{
	width: 700px;
	height: 150px;
	background: 
}
.li_img{
	transition: all 0.3s;
}
.quickli{
	width: 15%;
	height: 150px;
	padding-left: 27px;
	padding-top: 20px;;
}
.fr{
	width:360px;
	height: 150px;
	margin-left: 25px;
}
.fr a img{
	width: 360px;
	height: 150px;
}