.new_write{
	width: 100%;
}
.form-group{
	width: 100%;
	margin-top: 20px;
}
.form-group > label{
	display: inline-block;
	width: 60px;
	font-size: 15px;
}
.form-group > div{
	display: inline-block;
}
.form-group > div > input {
	width: 1000px;
	height: 30px;
}
.form-group > div > textarea{
	width: 1000px;
	margin-left: 65px;
}
.content_wrap{
	position: relative;
}
.content{
	position: absolute;
	left: 0;
	top: 0;
}
.submit_wrap > button{
	padding: 10px;
	border-radius: 2px;
	background-color: #474747;
	color: #fff;
}